{% for intf in interfaces %}
interface {{ intf.name }}
 description {{ intf.description }}
 {% if intf.no_switchport -%}
 no switchport
 {% endif -%}
 ip address {{ intf.ip_address }}
{% endfor %}

{% for lb in loopbacks %}
interface {{ lb.name }}
 ip address {{ lb.ip_address }}
{% endfor %}

service routing protocols model multi-agent
ip routing

router bgp {{ bgp.asn }}
 router-id {{ bgp.router_id }}
 no bgp default ipv4-unicast
 maximum-paths 4 ecmp 4
 neighbor LeafUnderlay peer group
 {% for leaf in leafs -%}
 {% if hostname == "spine1" -%}
  neighbor {{ leaf.interfaces[0].ip_address.split('/')[0] }} peer group LeafUnderlay
  neighbor {{ leaf.interfaces[0].ip_address.split('/')[0] }} remote-as {{ leaf.bgp.asn }}
 {% elif hostname == "spine2" -%}
  neighbor {{ leaf.interfaces[1].ip_address.split('/')[0] }} peer group LeafUnderlay
  neighbor {{ leaf.interfaces[1].ip_address.split('/')[0] }} remote-as {{ leaf.bgp.asn }}
 {% elif hostname == "spine3" -%}
  neighbor {{ leaf.interfaces[2].ip_address.split('/')[0] }} peer group LeafUnderlay
  neighbor {{ leaf.interfaces[2].ip_address.split('/')[0] }} remote-as {{ leaf.bgp.asn }}
 {% elif hostname == "spine4" -%}
  neighbor {{ leaf.interfaces[3].ip_address.split('/')[0] }} peer group LeafUnderlay
  neighbor {{ leaf.interfaces[3].ip_address.split('/')[0] }} remote-as {{ leaf.bgp.asn }}
 {% endif -%}
 {% endfor -%}
 address-family ipv4
  redistribute connected
  network {{ loopbacks[0].ip_address }}
  neighbor LeafUnderlay activate
 
 neighbor LeafOverlay peer group
 {% for leaf in leafs -%}
 neighbor {{ leaf.loopbacks[0].ip_address.split('/')[0] }} peer group LeafOverlay
 {% endfor -%}
 neighbor LeafOverlay update-source loopback0
 neighbor LeafOverlay send-community extended
 neighbor LeafOverlay maximum-routes 12000
 {% if leafs[0].bgp.asn != bgp.asn -%}
 neighbor LeafOverlay ebgp-multihop 3
 neighbor LeafOverlay next-hop-unchanged
 {% for leaf in leafs -%}
 neighbor {{ leaf.loopbacks[0].ip_address.split('/')[0] }} remote-as {{ leaf.bgp.asn }}
 {% endfor -%}
 {% else -%}
 neighbor LeafOverlay remote-as {{ leafs[0].bgp.asn }}
 neighbor LeafOverlay route-reflector-client
 {% endif -%}
 
 address-family evpn
  neighbor LeafOverlay activate

 